/* app.css */

.head {
  text-align: center;
  color: #333;
}

div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

img {
  width: 200px;
  height: 200px;
  margin: 10px;
}
